.display{
    width: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 80px;
    align-items: center;
}
.my-icon{
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.circle1{
   font-weight: bold;
    
  }